extends layout

block content
	#banner.page-header
	.row
		.col-lg-6
			h1= pageHeader.title
				small &nbsp;#{pageHeader.strapline}
	.row
		.col-xs-12.col-sm-8
			.row.list-group
				each movie in movies
					.col-xs-12.list-group-item
						h4
							a(href='/movies')= movie.title
								p.lead.pull-right= movie.rating
								small &nbsp;
						p= movie.description
						p
							each category in movie.categories
								span.label.label-warning= category
								| &nbsp;
						p.pull-right
							span.glyphicon.glyphicon-ok
							| &nbsp;
							span.glyphicon.glyphicon-remove
							| &nbsp;
							span.glyphicon.glyphicon-pencil
		.col-xs-12.col-sm-4
			p.lead
				| Never lose track of the shows you are watching.
