//
   Created by Y.A on 31-7-2016.
extends layout

block content
    .row.page-header
        .col-lg-12
            h1 Add Movie
    .row
        .col-xs-12.col-md-6
            form.form-horizontal(action="/movies", method="get", role="form")
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="title") Title
                    .col-xs-12.col-sm-10
                        input#title.form-control(name="title")
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="rating") Rating
                    .col-xs-12.col-sm-10
                        input#rating.form-control(name="rating")
                .form-group
                    label.col-sm-2.control-label(for="plot") Plot
                    .col-sm-10
                        textarea#plot.form-control(name="plot", rows="5")
                button.btn.btn-default.pull-right Add my movie
        .col-xs-12.col-md-4
