extends layout

block content
    .row.page-header
        .col-xs-12
            h1 Prisoners
                p.lead.pull-right 7.5
    .row
        .col-xs-12.col-md-9
            .row
                .col-xs-12.col-sm-6
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Details
                        .panel-body
                            p Counry
                            p Year
                            p Director
                            p Actors
                            p Runtime
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Categories
                        .panel-body
                            span.label.label-warning
                                span.glyphicon.glyphicon-ok
                                | &nbsp; Thriller
                            | &nbsp;
                            span.label.label-warning
                                span.glyphicon.glyphicon-ok
                                | &nbsp; Thriller
                            | &nbsp;
                            span.label.label-warning
                                span.glyphicon.glyphicon-ok
                                | &nbsp; Thriller
                            | &nbsp;
                .col-xs-12.col-sm-6
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Poster
                        .panel-body
                            img.center-block.img-rounded(src='http://ia.media-imdb.com/images/M/MV5BMTg0NTIzMjQ1NV5BMl5BanBnXkFtZTcwNDc3MzM5OQ@@._V1_SX300.jpg')
            .row
                .col-xs-12
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Plot
                        .panel-body
                            p When Keller Dover's daughter and her friend go missing, he takes matters into his own hands
                                | as the police pursue multiple leads and the pressure mounts. But just how far will this
                                | desperate father go to protect his family?
        .col-xs-12.col-md-3
            h2.lead.text-primary
                | Awards
            p
                | Nominated for one oscar